body{
    margin: 0;
    color: whitesmoke;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #222629;
    color: white;
}

.title{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    padding: 20px;
    /* justify-content: center; */
}
/* title grid */
.logo{
    width: 150px;
    height: auto;   
}
.heading{
    font-size: 60px;
    text-align: center;
}




/*  */

.main{
    font-size: 20px;
    height: 80vh;
}

.footer{
    height: 100px;
    text-align: center;
}



/* navigation bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}


li a,.dropbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

li a:hover, .dropdown:hover {
    background-color: #61892f
}

li.dropdown {
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:  #474b4f;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn{
    cursor: pointer;
}


/* homepage*/
.info{
    display: grid;
    grid-template-rows: 30vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info div{
    padding: 20px;
}

.main span{
    font-size: 1.5em;
}
.main p{
    font-size: 15px;
    line-height: 2em;
}
.info span{
    color: #86c232;
}
hr{
    border-top: 1px solid #8c8b8b;
}
