body {
    margin: 0 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #222629;
    color: white;
}

hr {
    border-top: 1px solid #8c8b8b;
}

.title {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.main{
    min-height: 70vh;
}
.main span {
    font-size: 20px;
}
.main p {
    font-size: 16px;
    line-height: 2;
}

.info {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.info span {
    color: #86c232;
    font-size: 20px;
}
.info p {
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
}


/* navigation bar */
ul{
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 1px 0 1px 0;
}


li a,.dropbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 50px;
}

li a:hover, .dropdown:hover {
    background-color: #61892f
}

li.dropdown {
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:  #474b4f;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.dropdown:hover .dropdown-content {
    display: block;
}